
.joinusbg-row{
    background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#74E8FF), to(#009DD5));
}

.joinus_rec {
    background-color: white;
    border-radius: 5%;
    width: 60%;
    margin-left: 20%;
}
@media (max-width:650px) {
    .joinus_rec {
        background-color: white;
        border-radius: 5%;
        width: 100%;
        margin-left: 0%;
        margin-top: -2%;
    }
}
.dorry_joinus_picture_div {
  text-align: center;
  margin-top: 11%;
  margin-bottom: 11%;
}

.dorry_joinus_picture{
    width: 100%;
    margin-top: 22%;
    margin-right: 57%;
}

@media (max-width:991px) {
    .dorry_joinus_picture {
        width: 35%;
        margin-top: 3%;
        margin-right: 52%;
        margin-left: 29%;
    }
}
@media (max-width:883px) {
    .dorry_joinus_picture {
            width: 48%;
            margin-top: 1%;
            margin-right: 52%;
            margin-left: 18%;
    }
}
@media (max-width:677px) {
    .dorry_joinus_picture {
            width: 58%;
            margin-top: 1%;
            margin-right: 52%;
            margin-left: 18%;
    }
}
@media (max-width:650px) {
    .dorry_joinus_picture {
        width: 60%;
        margin-top: 3%;
        margin-left: 12%;
    }
}
@media (max-width:500px) {
    .dorry_joinus_picture {
        width: 92%;
        margin-top: 10%;
        margin-left: 8%;
    }
}
@media (max-width:385px) {
    .dorry_joinus_picture {
            width: 87%;
            margin-top: 2%;
            margin-right: 52%;
            margin-left: 11%;
    }
}
.joinustitle {
    text-align: left;
    margin-top: 22%;
    margin-left: 24%;
}
@media (max-width:650px) {
    .joinustitle {
        text-align: left;
        margin-top: -10%;
        margin-left: 24%;
    }
}
@media (max-width:991px) {
    .joinustitle {
        text-align: left;

        margin-left: 5%;
    }
}
.joinus_wave {
    background: url(../images/bolang.png);
    height: 147px;
    margin-bottom: -6.1%;
}
@media (max-width:650px) {
    .joinus_wave {
        background: url();
    }
}
.joinusquestion
{
    margin-top: 13%;
    width: 83%;
    padding-top: 10%;
    padding-bottom: 10%;
}
@media (max-width:650px) {
    .joinusquestion {
        margin-top: -1%;
        width: 100%;
        background-color: white;
        font-size: 100%;
    }
}
.joinusquestiontext
{
    color: #307EA6;
    font-weight: bold;
    font-size: 150%;
}
@media (max-width:1548px) {
    .joinusquestiontext
    {
        color: #307EA6;
        font-weight: bold;
        font-size: 140%;
    }
}
@media (max-width:1160px) {
    .joinusquestiontext
    {
        color: #307EA6;
        font-weight: bold;
        font-size: 130%;
    }
}
@media (max-width:1050px) {
    .joinusquestiontext
    {
        color: #307EA6;
        font-weight: bold;
        font-size: 116%;
    }
}
@media (max-width:743px) {
    .joinusquestiontext
    {
        color: #307EA6;
        font-weight: bold;
        font-size: 102%;
    }
}

.joinusquestioncontent
{
    color: #307EA6;
    font-size: 124%;
}
@media (max-width:1548px) {
    .joinusquestioncontent
    {
        color: #307EA6;
        font-size: 114%;
    }
}
@media (max-width:1160px) {
    .joinusquestioncontent
    {
        color: #307EA6;
        font-size: 104%;
    }
}
@media (max-width:1050px) {
    .joinusquestioncontent
    {
        color: #307EA6;
        font-size: 92%;
    }
}

.ulstyleset
{
    list-style-type: disc;
}
.FullStackset
{
    color: #232F53;
    font-weight: bolder;
    font-size: 408%;
}

@media (max-width:650px) {
    .FullStackset {
        color: #232F53;
        font-weight: bolder;
        font-size: 229%;
        margin-top: 87%;
        margin-left: 0%;
    }
}
@media (max-width:991px) {
    .FullStackset {
        color: #232F53;
        font-weight: bolder;
        font-size: 235%;
    }
}

.FullStackcontentset
{
    color: #232F53;
    font-size: 136%;
}
@media (max-width:991px) {
    .FullStackcontentset {
        color: #232F53;
        font-size: 107%;
    }
}
@media (max-width:650px) {
    .joinus_ul_set{
        margin-top: 6%;
        margin-bottom: 14%;
    }
}
.joinus_Update_position{
    width:81%;
    margin-left: -4%;
}

@media (max-width:1206px) {
    .joinus_Update_position {
        width:98%;
        margin-left: -4%;
    }
}
.joiunus_contact
{
    margin-top: 6.3%;
    width: 47%;
    margin-left: 57%;
}
@media (max-width:1000px) {
    .joiunus_contact {
        margin-top: 6.3%;
        width: 47%;
        margin-left: 50%;
    }
}
@media (max-width:650px) {
    .joiunus_contact {
        padding-top: 8.3%;
        margin-left: 1%;
        width: 99%;
        margin-top: 7%;
    }
}

@media (max-width:450px) {
    .joiunus_contact {
        padding-top: 8.3%;
        margin-left: -4%;
        width: 104%;
        margin-top: 7%;
    }
}
.contactustext
{
    margin-left: 30%;
    color: #fff;
    font-size: 408%;
}
@media (max-width:1000px) {
    .contactustext {
        margin-left: 0%;
        color: #fff;
        font-size: 327%;
    }
}
@media (max-width:650px) {
    .contactustext {
        margin-left: 0%;
        color: #fff;
        font-size: 187%;
    }
}
@media (max-width:420px) {
    .contactustext {
        margin-left: 3%;
        color: #fff;
        font-size: 187%;
    }
}
@media (max-width:385px) {
    .contactustext {
        margin-left: 7%;
        color: #fff;
        font-size: 187%;
    }
}
.joinus_font
{
    color: #fff;
    font-size: 161%;
    margin-top: 5%;
    margin-left: 18%;
    width: 100%;
}
@media (max-width:992px) {
    .joinus_font {
        color: #fff;
        font-size: 157%;
        margin-top: 5%;
        margin-left: 17%;
        width: 82%;
    }
}
@media (max-width:730px) {
    .joinus_font {
        color: #fff;
        margin-top: 9%;
        margin-left: 13%;
        width: 68%;
        font-size: 133%;
        text-align: left;
    }
}
@media (max-width:550px) {
    .joinus_font {
        color: #fff;
        margin-top: 9%;
        margin-left: 13%;
        width: 90%;
        font-size: 133%;
        text-align: left;
    }
}
@media (max-width:424px) {
    .joinus_font {
        color: #fff;
        margin-top: 9%;
        margin-left: 28%;
        width: 103%;
        font-size: 134%;
        text-align: left;
    }
}
@media (max-width:385px) {
    .joinus_font {
        color: #fff;
        margin-top: 9%;
        margin-left: 27%;
        width: 113%;
        font-size: 132%;
        text-align: left;
    }
}
.contactus_icons_position
{
    margin-top: 7%;
}
.dorry_joinuscopyright_margin
{
    color: #fff;
    margin-top: 11%;
    margin-left: 40%;
    font-size: 145%;
}
.joinus_footer_set
{
    color: #fff;
    margin-left: 32%;
    margin-top: 3%;
    font-size: 152%;
}

@media (max-width:650px) {
    .joinus_footer_set {
        color: #fff;
        margin-left: 0%;
        margin-top: 2%;
        font-size: 112%;
        background-color: #182242;
        text-align: center;
    }
}

.joinus_row_bottom
{
    margin-right: 0px;
    margin-left: 0px;
}
@media (max-width:650px) {
    .joinus_row_bottom
    {
        margin-right: 0px;
        margin-left: 0px;
    }
}

.joinus_row
{
    margin-right: 0px;
    margin-left: 0px;
}
@media (max-width:650px) {
    .joinus_row
    {
        margin-top: -44%;
        margin-right: 0px;
        margin-left: 0px;
        height: 68em;
        background-color: #0DA5D8;
    }
}
@media (max-width:385px) {
    .joinus_row
    {
        margin-top: -44%;
        margin-right: 0px;
        margin-left: 0px;
        height: 57em;
        background-color: #0DA5D8;
    }
}
@media (max-width:650px) {
    .contactus_img{
        width: 93%;
        margin-top: 26%;
    }
}
@media (max-width:650px) {
    .joinus_img_div{
        padding-right: 10px;
        width: 20%;
    }
}
@media (max-width:650px) {
    .joinus_contactus_bgset{
        background-color: #232F53;
    }
}
@media (max-width:650px) {
    .joinus_footer_p{
        margin-bottom: 0;
    }
}
.joinus_address_picture_div {
    margin-bottom: 5%;
    width:23%;
    float:left;
}
@media (max-width:992px) {
    .joinus_address_picture_div {
        margin-bottom: 5%;
        width: 10%;
        float: left;
    }
}
.joinus_email_set{
    margin-left:20%;
}
@media (max-width:667px) {
    .joinus_email_set{
        margin-left: 1%;
        margin-top: 12%;
    }
}
@media (max-width:990px) {
    .joinus_email_set{
        margin-left: 0%;
    }
}
.joinus_address_bottom {
    margin-left: -17%;
    margin-top: 15%;
}
@media (max-width:1560px) {
    .joinus_address_bottom {
        margin-left: -4%;
        margin-top: 15%;
    }
}
.joinus_line{
    margin-right: 8%;
    width: 84%;
}
.joinus_font_email{
    margin-right: 20%;
    margin-top: 6%;
    font-size: 194%;
}
@media (max-width:992px) {
    .joinus_font_email{
        margin-top: 9%;
        font-size: 154%;
        margin-right: 412px;
    }
}
@media (max-width:650px) {
    .joinus_font_email{
        padding-top: 1%;
        font-size: 135%;
        margin-left: 14%;
    }
}
@media (max-width:558px) {
    .joinus_font_email{
        padding-top: 1%;
        font-size: 135%;
        margin-left: 14%;
    }
}
@media (max-width:424px) {
    .joinus_font_email{
        padding-top: 1%;
        font-size: 135%;
        margin-left: 26%;
    }
}

#joinus_address {
    text-align: center;
    color: white;
    background-color:#232F53;
    background-size:100% 100%;
    margin-top: 6%;
}
@media (max-width:1057px) {
    #joinus_address {
        text-align: center;
        color: white;
        background-color: #232F53;
        background-size: 100% 100%;
        margin-top: 5.9%;
    }
}
@media (max-width:746px) {
    #joinus_address {
        text-align: center;
        color: white;
        background-color: #232F53;
        background-size: 100% 100%;
        margin-top: -20%;
    }
}
@media (max-width:650px) {
    #joinus_address {
        text-align: center;
        color: white;
        background-color: #232F53;
        background-size: 100% 100%;
        margin-top: -30%;
    }
}
@media (max-width:505px) {
    #joinus_address {
        text-align: center;
        color: white;
        background-color: #232F53;
        background-size: 100% 100%;
        margin-top: -35%;
    }
}
@media (max-width:435px) {
    #joinus_address {
        text-align: center;
        color: white;
        background-color: #232F53;
        background-size: 100% 100%;
        margin-top: -47%;
    }
}
@media (max-width:992px) {
    .joinus_email_adjust {
        margin-left: -25%;
    }
}
