.Fectures_features_position.row.joinus_row
        .col-md-6
          .media
            .joinustitle
              p.FullStackset Full Stack Developer
              br
              br
              p.FullStackcontentset · Develop software based on high-­performance embedded system
              p.FullStackcontentset · Working on lightweight virtual machines
              p.FullStackcontentset · Working in pairs following SCRUM process
              p.FullStackcontentset · Developing, testing and releasing software following defined processes
              p.FullStackcontentset
                | · Building and improving software development, testing and distributing environment
        .col-md-6
          .media.joinus_Update_position
            
              img.dorry_joinus_picture(src='assets/images/recruitment/icons.png')
