#joinus_address
        .container
          .joiunus_contact
            p.contactustext Contact us
            hr.joinus_line
          .row.dorry_address_bottom.joinus_address_bottom
            // company address
            .col-md-4.contact_margin
              img.joinus_address_picture_div(src='assets/images/address/location.png')
              p.joinus_font Room C1, 6th Floor, Huangpu Bld Huangpu Rd 2 Xuanwu, Nanjing, China 210016 
            // company Email
            .col-md-4.contact_margin.joinus_email_set
              img.joinus_address_picture_div.joinus_email_(src='assets/images/address/contact.png')
              p.joinus_font_email job@dorry.io
