.joinus_rec
        .container.joinusquestion
          ul.joinus_ul_set
            li
              p.joinusquestiontext What kind of product does Matchbox build ?
              p.joinusquestioncontent
                | We are building up an IT platform called Dorry for micro-size enterprise, and continuously delivering enterprise application. Enterprise applications are installed and deployed through Dorry as the way on smartphone.
            br
            li
              p.joinusquestiontext What technologies does Matchbox play with ?
              p.joinusquestioncontent
                | We are having fun with all kinds of cut-edge technologies, no limitation, currently around Linux kernel, Docker, Angularjs 2, Golang, Raspberry Pi, cross-compiling …
            br
            li
              p.joinusquestiontext What am I going to do as an Engineer if I work in Matchbox ?
              p.joinusquestioncontent
                | We manage our product by customer development with MVP and guide our team by SCRUM philosophy. You will pair-work with your team members, both Engineers and UI designers. You will not only participate in Dorry project, but also improve the production process as well.
            br
            li
              p.joinusquestiontext What kind of Engineers Matchbox is looking for ?
              ul.ulstyleset
                li
                  p.joinusquestioncontent
                    | With geek and hacker spirits, enjoying playing around technics stuff and working on open source projects
                li
                  p.joinusquestioncontent Github account is your CV
                li
                  p.joinusquestioncontent Team player, willing to share with and help others
            br
            li
              p.joinusquestiontext How much can I earn as an Engineer ?
              p.joinusquestioncontent
                | As a start-up company, we cannot offer a fantastic package as those giant enterprises, but the salary in Matchbox would provide you a decent life in NanJing. For those outstanding team members, we offer options.
            br
            li
              p.joinusquestiontext What welfare will I get if I join Matchbox ?
              ul.ulstyleset
                li
                  p.joinusquestioncontent
                    | Five insurances: Endowment, Medical care, Unemployment, Work-related injury, Childbirth
                li
                  p.joinusquestioncontent Housing accumulation funds
                li
                  p.joinusquestioncontent Extra business insurance
                li
                  p.joinusquestioncontent 5-days holiday after one year employment
            br
            li
              p.joinusquestiontext Do we have to work overtime ?
              p.joinusquestioncontent
                | In general, we work on weekdays, 9:00 ~ 18:00. Only under the extreme situation, you may need to work on weekends, however, those extra working days will be counted as your holidays in return.


