#Second_Part
      // dorry construction picture part
      #construction.container
        .dorry_feature_text_color
          div
            h1.Constructure_title The Constructure of Dorry
          .dorry_construction_picture_div
            img.dorry_construction_picture(src='assets/images/construction/construction_inner.png')
