.dorry_brand
      .navbar
        .starter-template
          br
          br
          br
          br
          br
          h.title1 The IT platform customized for micro enterprises
          p.lead
            | Dorry is a professional enterprise platform, running on ARM and continually
            br
            | delivering secure enterprise applications and services, which is based on the
            br
            |  leading technology  of docker virtualization.
      .wave_div
