#technology.row
        .dorry_technology_picture_div
          div
            h1.dorry-title Functionalities
          // functionalities picture
          .col-xs-6.col-lg-4
            img.dorry_technology_picture(src='assets/images/technology/technology_inner.png')
          // functionalities content
          .col-xs-12.col-sm-6.col-lg-8.dorry-tech-col
            // first row
            .row.Functionalities_features_position
              // Update & Upgrade col
              .col-md-6.functionality_bottom
                .media.Update_position
                  // Update & Upgrade
                  .media-left
                    img.media-object.img_top(src='assets/images/technology/update.png')
                  // Update & Upgrade content
                  .media-body
                    h3.third_heading_font Update & Upgrade
                    p.content_font DorryOS and enterprise applications can be updated and upgraded on the fly.
              // SSO col
              .col-md-6.functionality_bottom
                .media.SSO_position
                  // SSO image
                  .media-left
                    img.media-object.img_top(src='assets/images/technology/SSO.png')
                  // SSO content
                  .media-body
                    h3.third_heading_font SSO
                    p.content_font DorryOS provides Single-Sign-On to access to enterprise services.
            // end first row
            // second row
            .row.Functionalities_features_position
              // Backup and Restore col
              .col-md-6.functionality_bottom
                .media.Update_position
                  // Backup and Restore  image
                  .media-left
                    img.media-object.img_top(src='assets/images/technology/backup.png')
                  // Backup and Restore  content
                  .media-body
                    h3.third_heading_font Backup & Restore
                    p.content_font DorryOS provides the service to backup and restore application data.
              // Micro Service Communication col
              .col-md-6.functionality_bottom
                .media.SSO_position
                  // Micro Service Communication image
                  .media-left
                    img.media-object.img_top(src='assets/images/technology/micro.png')
                  // Micro Service Communication content
                  .media-body
                    h3.third_heading_font Micro Service Communication
                    p.content_font
                      | Each executing enterprise application is considered as micro service. DorryOS handles the service communication.
            // end second row
            // third row
            .row.Functionalities_features_position
              // Management col
              .col-md-6.functionality_bottom
                .media.Update_position
                  // Management image
                  .media-left
                    img.media-object.img_top(src='assets/images/technology/management.png')
                  // Management content
                  .media-body
                    h3.third_heading_font Management
                    p.content_font
                      | DorryOS provides user friendly interface to manipulate enterprise services on the fly.
              // feedback col
              .col-md-6.functionality_bottom
                .media.SSO_position
                  // feedback image
                  .media-left
                    img.media-object.img_top(src='assets/images/technology/feedback.png')
                  // feedback content
                  .media-body
                    h3.third_heading_font Feedback
                    p.content_font DorryOS reports application execution errors and exceptions.
            // end third row
          // end functionalities content
      // Keep in touch part
