doctype html
html(lang='en')
  head
    title dorry.io
    link(rel='SHORTCUT ICON', href='assets/images/favicon.png')
    link(rel='stylesheet', type='text/css', href='assets/dorrycss/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='assets/dorrycss/matchbox.css')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1 miniumum-scale=1.0,maximum-scale=1.0,user-scalable=no')
    meta(name='description', content='')
    meta(name='author', content='')
  body
    // nav-bar part
    include navbar.jade
    
    // dorry brand part
    include dorrybrand.jade

    // dorry feature part

    // dorry construction picture part
    include construction.jade

    // features' content part
    include features.jade

    // dorry technology part
    include Functionalities.jade

    // Keep in touch part
    include keepintouch.jade

    // copyright part
    include copyright.jade
     

