#nav-background.navbar.navbar-fixed-top.sticky
      nav.navbar(role='banner')
        div
          img.log_img(src='assets/images/Group.png')
          a.blogtext(href="#") Blog
          a.joinustext(href='joinus.html') Join us
