
.joinusbg-row{
	background-image: url(images/recruitment/5.png);
	background-size: 100% 100%;
	height:184em;
}
@media (max-width:998px) {
	.joinusbg-row{
		background-image: url();
		background-size: 100% 100%;
		height:136em;
	}
}
.dorry_joinus_picture{
	width: 100%;
    margin-top: 22%;
    margin-right: 57%;
}
@media (max-width:998px) {
	.dorry_joinus_picture {
		width: 92%;
		margin-top: 4%;
		margin-left: 8%;
	}
}
.joinustitle {
   text-align: left;
    margin-top: 22%;
    margin-left: 24%;
}
@media (max-width:998px) {
	.joinustitle {
	   text-align: left;
		margin-top: -16%;
		margin-left: 24%;
	}
}
.joinusquestion
{
	margin-top: 13%;
    width: 45%;
}
@media (max-width:998px) {
	.joinusquestion {
		margin-top: -1%;
		width: 100%;
		background-color: white;
		font-size: 64%;
	}
}
.joinusquestiontext
{
	color: #307EA6;
    font-weight: bold;
    font-size: 150%;
}
.joinusquestioncontent
{
	color: #307EA6;
    
    font-size: 124%;
}
.ulstyleset
{
	list-style-type: disc;
}
.FullStackset
{
	color: #232F53;
    font-weight: bolder;
	font-size: 408%;
}

@media (max-width:998px) {
	.FullStackset {
		    color: #232F53;
			font-weight: bolder;
			font-size: 184%;
			margin-top: 68%;
			margin-left: -8%;
	}
}

.FullStackcontentset
{
	color: #232F53;
   
	font-size: 136%;
}
@media (max-width:998px) {
	.joinus_ul_set{
		margin-top: 14%;
		margin-bottom: 10px;
	}
}

@media (max-width:998px) {
	.FullStackcontentset {
		color: #232F53;
		margin-left: -21%;
		font-size: 122%;
	}
}
.joinus_Update_position{
  width:79%;
  margin-left: -4%;
}

@media (max-width:1206px) {
	.joinus_Update_position {
		width:98%;
		margin-left: -4%;
	}
}
.joiunus_contact
{
	margin-top: 14.3%;
    width: 25%;
    margin-left: 57%;
}
@media (max-width:998px) {
	.joiunus_contact {
		padding-top: 8.3%;
		margin-left: 1%;
		width: 99%;
		margin-top: 7%;
	}
}
.contactustext
{
	margin-left: 30%;
	color: #fff;
	font-size: 408%;
}
@media (max-width:998px) {
	.contactustext {
		margin-left: 29%;
		color: #fff;
		font-size: 187%;
	}
}
.joinus_font
{
	color: #fff;
    font-size: 161%;
	margin-top: 5%;
    margin-left: 7%;
	width: 100%;
}
@media (max-width:998px) {
	.joinus_font {
		color: #fff;
		margin-top: 9%;
		margin-left: 7%;
		width: 100%;
		font-size: 91%;
	}
}
.contactus_icons_position
{
	margin-top: 7%;
}
.dorry_joinuscopyright_margin
{
	color: #fff;
    margin-top: 11%;
    margin-left: 40%;
    font-size: 145%;
}
.joinus_footer_set
{
	color: #fff;
    margin-left: 39%;
    margin-top: 11%;
    font-size: 152%;
}

@media (max-width:998px) {
	.joinus_footer_set {
		color: #fff;
		margin-left: 0%;
		margin-top: 2%;
		font-size: 112%;
		background-color: #182242;
		text-align: center;
	}
}

.joinus_row_bottom
{
	margin-right: 0px;
    margin-left: 0px;
}
@media (max-width:998px) {
.joinus_row_bottom
	{
		margin-right: 0px;
		margin-left: 0px;
		
	}
}
.joinus_row
{
	margin-right: 0px;
    margin-left: 0px;
	background-color: #0DA5D8;
}
@media (max-width:998px) {
.joinus_row
	{
		margin-right: 0px;
		margin-left: 0px;
		
	}
}
@media (max-width:998px) {
	.contactus_img{
		width: 93%;
    	margin-top: 26%;
	}
}
@media (max-width:998px) {
	.joinus_img_div{
		padding-right: 10px;
    	width: 20%;
	}
}
@media (max-width:998px) {
	.joinus_contactus_bgset{
		background-color: #232F53;
	}
}
@media (max-width:998px) {
	.joinus_footer_p{
		margin-bottom: 0;
	}
}
