doctype html
html(lang='en')
  head
    title HR
    link(rel='SHORTCUT ICON', href='images/favicon.png')
    link(rel='stylesheet', type='text/css', href='./dorrycss/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='./dorrycss/matchbox.css')
    link(rel='stylesheet', type='text/css', href='./dorrycss/joinus.css')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1 miniumum-scale=1.0,maximum-scale=1.0,user-scalable=no')
    meta(name='description', content='')
    meta(name='author', content='')
  body
    .joinusbg-row
     include ./joinuspagejade/joinusnavbar.jade 
     include ./joinuspagejade/joinusintroduction.jade
     include ./joinuspagejade/joinusquestion.jade
     include ./joinuspagejade/joinuscontactus.jade
     include ./joinuspagejade/joinuscopyright.jade
      
    
