
.dorry_brand { 
	background: url(images/bg_banner.png);
    background-size: 100% 100%;
    height:40em;
}
#dorry-menu {
    margin-top: 40px;   
}
#bt-joinus {
    color: #fff;
    background-color: #5ABFE3;
    
    font-size: x-large;
    padding-top: 10px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;

}
.title1 {
	color: white;
	font-size:50px;
}
@media (max-width:800px) {
	.title1 {
	color: white;
	font-size:25px;
	}
}
.lead {
	color:white;
	font-size:25px;
}
@media (max-width:800px) {
	.lead {
	font-size:18px;
	}
}

#feature { 
	background: url(images/features/feature_bg.png); 
	background-size:100% 101%;
}

.dorry-title {
	text-align: center;
	margin-bottom: 50px;
  margin-top: 50px;
}

.dorry_feature_text_color {
  color: white;
}

.dorry_feature_row_margin {
  margin-bottom: 30px;
}

.dorry_feature_text_margin {
  margin-top: 10px;
}

#technology { 
	background: url(images/technology/technology_bg.png); 
	background-size:100% 100%;
}

.dorry_technology_picture_div {
  text-align: center;
  margin-top: 11%;
  margin-bottom: 11%;
}

.dorry_technology_picture{
	width: 50%;
}

#address {
	text-align: center;
	background-color: #222A5E;
	color: white;
}

.dorry_address_picture_div {
  margin-bottom: 5%;
	width:12%;
}

.dorry_copyright_margin {
  margin-top: 50px;
}



