.installation-container{
    padding-top:90px;
    background-color:#ddd;
    padding-bottom:110px;
    color:#37474f;
}

.uninstallation-container{
    padding-top:90px;
    background-color:#fff;
    padding-bottom:110px;
    color:#37474f;
}

.doc-h1{
    padding:20 0 45 0;
    font-size: 28px;
    font-weight: bold;
}

.code-container{
    border: 1px solid #57676f;
    background-color: #fff;
    box-sizing: border-box;
    padding: 14 28;
    height:auto;
    text-align: left;
    width:600px;
    margin: 12px auto;
    border-radius: 2.4px;
    color: #222;
    position: relative;
    word-wrap: break-word;
}

.code-container p {
    font-size: 16px;
    margin-bottom:0px;
}

.doc-version{
    padding-top:25px;
    margin-left:-500px;
}

.doc-container{
    padding-top: 80px;
    padding-bottom:180px;
    width:960px;
    text-align: left;
    margin:0 auto;
}

.doc-desc{
    padding-left:-500px;
    padding-top:20px;
}