.content-container {
    text-align: center;
}
/*countdown-part*/
.countdown-container {
    color: #f1f1f1;
    height: 914px;
    background-color: #37474f;
}

.countdown-title {
    padding-top: 227px;
    font-size: 60px;
    font-weight: 500;
}

.countdown-desc {
    padding-top: 52px;
    padding-bottom: 90px;
    font-size: 20px;
    color: #e5e5e5;
    line-height: 1.5;
}

.countdown-time-container {
    margin: auto;
    width: 242px;
    height: 242px;
    border-radius: 8px;
    background-image: linear-gradient(to top, #273137, #1f2528 50%, #263036);
    text-align: center;
}

.countdown-time-days {
    line-height: 242px;
    font-size: 150px;
    color: #90bce6;
    text-align: center;
    text-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
}

.countdown-midline {
    position: absolute;
    margin-top: -124px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 240px;
    height: 2px;
    border: solid 2px #161e22;
}

.countdown-time-unit {
    color: #687175;
    font-size: 24px;
    margin-top: -30px;
}

.download-a:hover{
    text-decoration: none;
}

.download-button {
    margin-left: auto;
    margin-right: auto;
    margin-top: 81px;
    width: 280px;
    height: 64px;
    border-radius: 2px;
    background-color: #239B56;
    padding-top: 22px;
}

.download-button:hover {
    cursor: pointer;
    background-color: #28B463;
}

.download-button .download {
    /*line-height: 64px;*/
    font-size: 24px;
    font-weight: 500;
    color: #eee;
}

.download-button .version {
    line-height: 24px;
    padding-top: 6px;
    color: #eee;
}
/*demovedio container*/
.demovedio-container {
    background-color: #455963;
    padding-top: 120px;
    padding-bottom: 120px;
}

.demovedio-container img {
    width: 50%;
}

.demovedio-container img:hover {
    cursor: pointer;
}
/* product info container part*/
.product-info-container {
    /*margin-top: -28px;*/
    padding-top: 148px;
    padding-bottom: 94px;
    background-color: #fafafa;
}

.product-info-container .mdl-grid {
    width: 65%;
}

.product-title {
    padding-top: 20px;
    padding-bottom: 18px;
    font-size: 26px;
    font-weight: bold;
    color: #2f3c43;
}

.product-desc {
    font-size: 18px;
    color: #37474f;
}

.mdl-cell--3-col img {
    width: 128px;
    height: 128px;
}

.video-container {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 100;
}

.overlay {
    background: rgba(0,0,0,0.7);
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}
