#Second_Part
   .container.dorry_feature_text_color.feature_top
        div
          h1.dorry-title-Feature Features
        // first row
        // Simplicity col
        .col-md-6.dorry_feature_row_margin.functionality_bottom
          .media.Update_position1
            // Security image
            .media-left
              img.media-object.img_size(src='images/features/Security.png')
            // Security content
            .media-body
              h3.media-heading.dorry_feature_text_margin Security
              p.content_font Dorry Market provides application authentication and security validation.
        // Security col
        .col-md-6.dorry_feature_row_margin.functionality_bottom
          .media.Update_position1
            // Lightweight image
            .media-left
              img.media-object.img_size(src='images/features/Lightweight.png')
            // Lightweight content
            .media-body
              h3.media-heading.dorry_feature_text_margin Lightweight
              p.content_font
                | Dorry OS entitles the application with the capabilities of instant bootstrap, less RAM and disk usage.
        // end first row
        // second row
        // Simplicity col
        .col-md-6.dorry_feature_row_margin.functionality_bottom
          .media.Update_position1
            // Simplicity image
            .media-left
              img.media-object.img_size(src='images/features/Simplicity.png')
            // Simplicity content
            .media-body
              h3.media-heading.dorry_feature_text_margin Simplicity
              p.content_font
                | Running your enterprise services on Dorry OS as on your smartphone only with two neat steps “Install->Start”.
        // Integration and Management col
        .col-md-6.dorry_feature_row_margin.functionality_bottom
          .media.Update_position1
            // Integration and Management image
            .media-left
              img.media-object.img_size(src='images/features/Integration.png')
            // Integration and Management content
            .media-body
              h3.media-heading.dorry_feature_text_margin Integration and Management
              p.content_font
                | Dorry OS integrates enterprise applications in one centralized platform with management capability.
        // end second row
        // third row
        div
          // Local deployment col
          .col-md-6.dorry_feature_row_margin.functionality_bottom
            .media.Update_position1.feature_bottom
              // Local deployment image
              .media-left
                img.media-object.img_size(src='images/features/Local_deployment.png')
              // Local deployment Content
              .media-body
                h3.media-heading.dorry_feature_text_margin Local deployment
                p.content_font
                  | Dorry OS is deployed on Raspberry Pi by default in the local enterprise environment, so are the enterprise services and data.
          // end third rowv
